@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Lato', 'Segoe UI', sans-serif;
    color: black;
    background: aliceblue;

}

header{
    background: url(./musicfycovers/mscfy1.webp);
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    padding-bottom: 100px;
    background-size: contain;
    height: 100vh;
    width: 100%;
}

.logo{
    display: flex;
    margin: 0 30px
}


nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.links{
    flex: 1;
    text-align: right;
}


.links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
    color: white;
}

.links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}


.links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #2b15f2;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.links ul li:hover::after{
    width: 100%;
}




.container{
    width: 45px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    pointer-events: none;
    z-index:1;   
    opacity: 0;
}

.container > span{
    width: 80%;
    height: 2px;
    margin: 3px auto;
    border-radius: 10px;
    background: white;
    transition: all 0.4s ease-out;
    box-shadow: 0px 2px 2px #333;
}

.change #bar1{
    transform: rotate(45deg) translate(5px, 7px);  
    transition: all 0.4s ease-out; 
}

.change #bar2{
    transform: translateX(-500px);
    opacity: 0;
    transition: transform 0.4s ease-out;
}

.change #bar3{
    transform: rotate(-45deg) translate(4px,-7px);
    transition: all 0.4s ease-out;
    
}


.push#sidebar{
    left: 0;
    transition: all 0.4s ease-out;
}


.text-box{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 10px;
}
.text-box h1{
    font-size: 42px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
}
.tb-cta{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 30px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}

.tb-cta:hover{
    border: 1px solid rgba(18, 23, 43, 0.7);
    background: rgba(16, 26, 37, 0.7);
    transition: 1s;
}




.t-img{
    border-radius: 2px;
    height: 170px;
    width: 170px;
    margin-bottom: 20px;
    align-content: center;
    margin: 0 auto;

}
.hero{
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

.trending{
padding: 10px;
padding-bottom: 0;

}
.line{
    width: 100px;
    height: 1px;
    background-color: grey;
    display: block;
    margin: auto auto;
    margin-bottom: 20px;
}

.grid-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
     place-items: center;
     gap: 30px;
     height: 100%;
     width: 80%;
     margin: 0 auto;
     font-size: 12px;

}

.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}



.flex{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 59px;
    place-content: center;
    gap: 30px;
    
}

.flex img{
    height: 200px;
    width: 200px;
    border-radius: 2px;
    
}

.flex2 p{
    max-width: 550px;
    margin-top: 20px;
}


.explore2{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: .1em 1.2em;
    border-radius: 3px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}


.hero3{
    align-items: center;
    margin-top: 50px;
    text-align: center;
}
.cate{

    margin-top: 30px;
}
.pick{
    display: block;
    justify-content: space-evenly;
     place-items: center;
     gap: 10px;
     height: 60%;
     width: 80%;
     margin: 0 auto;
     line-height: 40px;

}

footer{
    background: hsl(216, 53%, 9%);
    margin-top: 100px;
    height: 150px;
    width: 100%;
    
    }

    
    .col-1 ul li{
        display: inline-block;
        padding: 5px;
        justify-content: center;
    }

    .col-1 li{
        list-style: none;
        line-height: 30px;
    }
    .col-1 li a {
        text-decoration: none;
        color: white;
        
    }

    .socials a{
        color: white;
        padding: 0 9px;
        
    }
    .socials{
        justify-content: center;
    }

    .grid1{
        display: inline;
        justify-content: center;
        text-align: center;
    }
    
@media screen and (max-width:768px) {

    

   
footer{
    width: 100%;
    
    }

    .grid1{
        margin-top: 30px;
    }

    .grid-items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    
    .t-img{
        height: 80%;
        width: 80%;
    }

    .flex{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .flex img{
        height: 300px;
        width: 300px;
    }

   
    nav ul {
        position: fixed; 
        background-color: #070707fb;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        width: 40%;
        height: 400px;
        left: -1000px;
        z-index: 1;
        list-style: none;
        color: wheat;
        top: 0;
        border-radius: 2px;
     }
 
 
     .links {
         display: flex;
         flex-direction: column;
         
         width: 100%;
         height: 100%;
         text-align: center;
     }

     .links2{
        margin-top: 20px;
     }
     
    .col-1 ul li{
        display: inline-block;
        padding: 5px;
        justify-content: center;
    }
   
    
    .container {
        opacity: 1;
        pointer-events: all;
    }
}